<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. A arcu cursus vitae congue mauris rhoncus aenean vel. Odio euismod lacinia at quis risus sed vulputate odio ut. Eu non diam phasellus vestibulum lorem sed risus ultricies. Odio eu feugiat pretium nibh ipsum consequat. Feugiat vivamus at augue eget arcu dictum varius. Leo in vitae turpis massa sed elementum tempus. Scelerisque in dictum non consectetur a erat nam at. Tortor posuere ac ut consequat semper viverra nam libero. Vel quam elementum pulvinar etiam. Venenatis tellus in metus vulputate.</p>
</ion-content>
