<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>privacidade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
<h1> Política de Privacidade para RDF - Seu Estilo Único</h1>

  <h2> 1. Informações Pessoais Coletadas</h2>
  
 <p> O RDF - Seu Estilo Único ("nós", "nosso" ou "RDF") está empenhado em proteger a privacidade dos usuários do nosso site. Ao utilizar nosso site, você concorda com a coleta e uso de informações de acordo com esta política.
</p>

 <h2> 1.1. Informações Pessoais Identificáveis (IPI)</h2>
  <p>
  Podemos coletar informações pessoais identificáveis, como nome, endereço de e-mail, número de telefone, endereço postal, etc., quando você se cadastra em nosso site, realiza uma compra ou participa de promoções. Essas informações são fornecidas voluntariamente pelo usuário.
</p>

   <h2> 1.2. Informações não Identificáveis (INI)</h2>
  <p>
  Além das informações pessoais identificáveis, podemos coletar informações não identificáveis que não estão vinculadas a nenhuma pessoa em particular. Isso pode incluir dados demográficos, preferências de compra, padrões de uso do site, entre outros.
</p>

  <h2> 2. Uso de Informações Coletadas</h2>

  <p>

  Utilizamos as informações coletadas para:
  
  Processar transações e enviar confirmações de pedidos.
  Personalizar a experiência do usuário e fornecer conteúdo relevante.
  Enviar informações sobre promoções, produtos ou serviços.
  Melhorar nossos produtos e serviços.
  Analisar dados para entender o comportamento do usuário e melhorar nosso site.
</p>

  <h2> 3. Proteção de Informações</h2>
  <p>
  Comprometemo-nos a manter a segurança das informações pessoais fornecidas. Implementamos medidas de segurança para proteger contra acesso não autorizado, alteração, divulgação ou destruição não autorizada de dados.
</p>
  <h2> 4. Cookies e Tecnologias Semelhantes</h2>
  <p>
  Utilizamos cookies e tecnologias semelhantes para melhorar a experiência do usuário, personalizar conteúdos e anúncios, fornecer recursos de mídia social e analisar o tráfego. Ao utilizar nosso site, você concorda com o uso dessas tecnologias.
</p>
  <h2> 5. Compartilhamento de Informações</h2>
  <p>
  Não compartilhamos informações pessoais com terceiros, a menos que seja necessário para fornecer um serviço solicitado ou exigido por lei.
</p>
  <h2>6. Atualizações e Alterações na Política de Privacidade</h2>
  <p>
  Reservamo-nos o direito de atualizar ou modificar esta Política de Privacidade a qualquer momento. As alterações entrarão em vigor imediatamente após a publicação no site.
</p>
  <h2> 7. Contato</h2>
 <p>
  Se você tiver dúvidas sobre esta política, entre em contato conosco em 
  
  Ao continuar a utilizar nosso site, você concorda com os termos desta política de privacidade. Última atualização: [data da última atualização].</p>

  <ion-button href="contato">Contato</ion-button>
</ion-content>